<h1>Welcome to Archibot!</h1>

<div class="login_panel">
  <p><%= link_to "Join Archibot", new_user_path %></p>
  <p><%= link_to "Login", "/login" %></p>
</div>

<p><%= link_to "Preview the collection", architects_path %><p>
