<h2>Archibot</h2>

<p>Add a new architect</p>

<% if @architect.errors.count > 0 %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @architect.errors.messages.each do |field,error| %>
        <li><%= "#{field.capitalize} #{error.first}!" %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render "form" %>

<%=link_to("Back to all architects", architects_path) %>

<br>
<br>