<h2>Archibot</h2>

Add a new architect

<% unless @architect.nil? || @architect.id.nil? %>
  <div id="errors">
    <h2>Errors!</h2>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><%= "#{field.capitalize} #{error.first}!" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form" %>

<%=link_to("Back to all architects", architects_path) %>